<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or site.title }}</title>
    <meta name="description" content="{{ description or site.description }}">
    <style>
        body { font-family: sans-serif; max-width: 50em; margin: auto; line-height: 1.5; }
        main { overflow: hidden; }
        pre { background-color: #efefef; }
        code { background-color: #efefef; padding: 5px; border-radius: 4px; overflow-x: auto;}
        img { max-width: 100%; display: block; margin: auto;}
        .navbar { background-color: #333; overflow: hidden; }
        .navbar a { float: left; display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none; }
        .navbar a:hover { background-color: #ddd; color: black; }
    </style>
  </head>
  <body>
    <div class="navbar">
      <a href="/index">Index</a>
      <a href="/memoria">Memoria (ES)</a>
      <a href="/doc">Doc (EN)</a>
      <a href="/changeset/">Commits</a>
    </div>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
